<div class="container pt-5">
  <div class="row">
    <div class="col-md-4 d-flex flex-column align-items-center">
      <div class=>
        <ng-container class="btn-group-vertical" >
          <button type="button" class="btn btn-primary mb-1 w-100" *ngFor="let video of videos | keyvalue " (click)="assignvideo(video)">{{video.value.name}}</button>
         </ng-container>
      </div>

    </div>
    <div class="col-md-6" >

      <div>
        <video class="object-fit-cover" autoplay controls id="myVideo" #myVideo [src]="videourl" type="video/mp4" width="700px" >
          <source [src]="videourl" type="video/ogg">
        Your browser does not support the video tag.
        </video>

        <div>
          <div  style="width: 100; float: right;">
            <button class="btn btn-primary ml-5 " (click)="bookmark()">BookMark</button>
          </div>
          <div>

    <h2 >+BookMarks</h2>
          </div>
          <div>
            <button class="btn btn-info mx-2" (click)="seekToTime(83)">01:23</button>
            <button class="btn btn-info mx-2" (click)="seekToTime(123)">02:03</button>
          </div>
          <div>
            <button class="btn btn-info m-2" (click)="seekToTime(105)">01:45</button>
            <button class="btn btn-info m-2"(click)="seekToTime(203)">03:23</button>
          </div>
          <div class="timeline">
            <button class="btn btn-info m-2" (click)="seekToTime(114)">01:54</button>
            <button class="btn btn-info m-2"(click)="seekToTime(252)">04:12</button>
      </div>
      </div>
    </div>


  </div>
    </div>
    <div >
  </div>

